megahit -m 32000000000 --cpu-only -l 300 -o megahit-[% base %] \
   -1 [% for_reads %] -2 [% rev_reads %] \
   --k-min 21 --k-max 99 --k-step 10 \
   --min-count 2 \
   --num-cpu-threads 8 \
   --continue \
   | tee Log
